/* Here you apply all kinds of styling to your app UIs */

@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #101020;
}

* {
  font-family: 'Inter', sans-serif;
  color: white;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
}

main > div {
  gap: 70px !important;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
  gap: 15px;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

h1 {
  padding-bottom: 40px;
}

.board-form {
  max-width: 250px;
}

form,
section {
  width: 100%;
}

.shadow {
  border: 2px solid #27272763 !important;
  box-shadow: 0 0 4px black;
  border-radius: 4px;
}

.scores {
  flex-grow: 1;
  gap: 2px !important;
}

.field {
  padding: 8px;
  background-color: #101020;
}

.field:focus {
  outline: none;
  box-shadow: 0 0 4px cyan;
}

.btn {
  padding: 5px 15px;
  cursor: pointer;
  background: #101020;
}

.btn:focus,
.btn:hover {
  outline: none;
  border: none !important;
  background: linear-gradient(to right, orangered, purple);
}

.btn[type='submit'] {
  max-width: fit-content;
  align-self: flex-end;
}

.btn:disabled {
  cursor: not-allowed;
}

li {
  padding: 4px;
}

li:nth-child(even) {
  background: #5353be36;
}

.lds-dots {
  display: inline-block;
  position: relative;
  width: 78px;
  height: 18px;
}

.lds-dots div {
  position: absolute;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: cyan;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-dots div:nth-child(1) {
  left: 8px;
  animation: lds-dots1 0.6s infinite;
}

.lds-dots div:nth-child(2) {
  left: 8px;
  animation: lds-dots2 0.6s infinite;
}

.lds-dots div:nth-child(3) {
  left: 32px;
  animation: lds-dots2 0.6s infinite;
}

.lds-dots div:nth-child(4) {
  left: 56px;
  animation: lds-dots3 0.6s infinite;
}

@keyframes lds-dots1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-dots3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-dots2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

@media (max-width: 610px) {
  main > div {
    flex-direction: column !important;
  }

  .board-form {
    max-width: unset;
  }
}
